@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media (min-width :992px) {
    .container {
        width: 970px;
    }
}

@media (min-width:1200px) {
    .container {
        width: 1170px;
    }
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    width: 90%;
    margin: 0 auto;
}

:root {
    --red: #e1603a;
}

html {
    scroll-behavior: smooth;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

body {
    font-family: "Poppins", sans-serif;
    color: #0c0c0c;
    overflow-x: hidden;
    scroll-behavior: smooth;
    line-height: 1.6;
}

.hoverli li {
    padding: 10px 20px;
    color: var(--red);
    transition: var(--red);
    position: relative;
    height: 29px;
}

.hoverli li a {
    color: var(--red);
    position: relative;
    transition: .3s;
    padding: 0 0px 10px;
    letter-spacing: 1.1px;
    display: block;
    font-weight: 200;
}

.hoverli li a::before {
    content: attr(data-li);
    width: 0%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    -webkit-text-stroke: 0px transparent;
    color: var(--red);
    transition: 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.hoverli li a:hover::before {
    width: 100%;
}

.hoverli li a::after {
    content: '';
    background-color: var(--red);
    position: absolute;
    bottom: 0px;
    right: 0;
    width: 0%;
    transition: .3s;
    height: 2px;
}

.hoverli li a:hover::after {
    width: 100%;
}

.open {
    display: flex !important;
}

.close {
    display: none;
}

/*               start      header          */

header {
    padding: 20px 0;
    position: relative;
    width: 100%;
    box-shadow: 0 0 0 none;
    z-index: 111888;
    background-color: transparent;
    transition: .3s;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .container ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

header .container ul li {
    padding: 10px 30px;
    color: #434242;
    text-align: center;
    transition: .3s;
}

header .container a {
    color: #191919;
}

header .container .logo span {
    font-family: 'Baloo Chettan 2', cursive;
    font-size: 24px;
    font-weight: 700;
}

header .container .search {
    display: flex;
    align-items: center;
    gap: 8px;
    border: 1px solid transparent;
    border-radius: 10px;
    padding: 0 10px;
}

header .container .login {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-right: 10px;
    cursor: pointer;
}

header .container input::placeholder {
    transition: .3s;
    font-size: 15px;
    color: #c3c3c3;
}

header .container .search i {
    color: var(--red);
    cursor: pointer;
}

header .container .search i header .container input:focus::placeholder {
    color: transparent;
}

header .container .secound {
    display: none;
}

header .megamenu i {
    display: none;
    background-color: var(--red);
    color: white !important;
    padding: 4px 6px;
    border-radius: 5px;
}

header .container .first {
    display: flex;
}

@media (min-width :992px) {
    header .container .secound {
        display: none !important;
    }
}

@media (max-width :992px) {
    header {
        box-shadow: 0 0 8px rgb(0 0 0 / 20%);
    }

    .background {
        background-image: url(../Photo/hero2.png) !important;
    }

    header .megamenu i {
        display: block;
        margin-left: 10px;
    }

    header .container {
        width: 98%;
    }

    header .container .first {
        display: none;
    }

    header .container .secound {
        display: none;
        position: fixed;
        top: 78px;
        flex-direction: column;
        right: 10px;
        background: #f8f8f8;
        padding: 10px 20px;
        transition: .3s;
        width: 192px;
        z-index: 1008;
    }

    header .container .secound li {
        margin: 10px;
        width: fit-content;
    }

    header .megamenu i:hover .secound {
        display: flex;
        height: 173px;
    }

    header .container .secound li:hover {
        margin-left: 15px;
    }
}

@media (max-width :485px) {
    .sear {
        margin-right: 10px;
    }

    header .container .search {
        gap: 0;
    }

    header .megamenu i {
        margin: 0;
    }
}


/*               end        header          */

.background {
    background-image: url(../Photo/hero.png);
    background-size: cover;
    background-position: top right;
}


/*                  start      landing          */

.landing {
    height: 90vh;
    display: flex;
    align-items: center;
}

.landing .container {
    display: flex;
    justify-content: space-between;
    padding: 0;
    align-items: center;
    margin-bottom: 100px;
}

.landing .text {
    margin-left: 20px;
}

.landing .text>p {
    font-size: 30px;
    margin-left: 10px;
}

.landing .text h1 {
    color: var(--red);
    margin: 10px 0 35px;
    font-size: 65px;
    font-weight: 1000;
    word-spacing: 15px;
}

.landing .text .paagraf {
    margin-top: 10px;
    font-size: 18px;
}

.landing .text .paagraf p {
    margin-top: 15px;
}


/*          start                  about              */

.about {
    padding: 100px 0;
    position: relative;
    background-color: white;
}

.about .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 80px;
}

.about .container .text {
    flex: 1;
}

.about .container .head {
    display: flex;
    align-items: center;
    gap: 10px;
}

.about .container .head img {
    margin-bottom: 15px;
    width: 20px;
}

.about .container .img {
    flex: 1;
}

.about .container img {
    max-width: 100%;
}

.about .container .text h2 {
    color: var(--red);
    margin: 0 0 20px;
    font-size: 30px;
}

.about .container .text p {
    margin-bottom: 15px;
    line-height: 1.4;
    letter-spacing: .8px;
}

@media (max-width: 768px) {
    .about .container {
        flex-direction: column-reverse;
        text-align: center;
    }

    .about .container .head {
        justify-content: center;
    }
}


/*         end   about           */


/*              more about           */

.sectionmore {
    padding: 100px 0;
}

.more {
    text-align: center;
    color: #ffffff;
    background-image: url(../Photo/why-bg.jpg);
    background-size: cover;
    position: relative;
    padding: 75px 0;
}

.more h3 {
    font-weight: bold;
    font-size: 35px;
}

.more p {
    margin: 60px 0;
}

.more button {
    border-radius: 25px;
    border: 1px solid white;
    margin: 10px 0;
    width: 155px;
    height: 55px;
    transition: .4s;
    cursor: pointer;
    background-color: white;
}

.more button a {
    color: var(--red);
    display: block;
}

.more button:hover {
    background-color: transparent;
}

.more button:hover a {
    color: white;
}


/*              more about           */


/*           start         contact       */

.contact {
    padding: 100px 0;
    position: relative;
}

.contact .head {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.contact h2 {
    color: var(--red);
    text-align: center;
    font-weight: bold;
    font-size: 35px;
    margin-bottom: 30px;
}

.contact .head img {
    margin-bottom: 30px;
    width: 25px;
}

.contact .container form {
    display: flex;
    flex-direction: column;
    gap: 30px;
    max-width: 50%;
    margin: 0 auto;
}

.contact .container form input {
    height: 50px;
    outline: none;
    box-shadow: 0 0 4px rgb(0 0 0 / 20%);
    padding: 25px;
    border-radius: 10px;
    transition: .3s;
    border: none;
}

.contact .container form input:focus {
    border-color: transparent;
    box-shadow: 0 0 4px #e1613a66;
}

.contact .container form input[type='submit'] {
    background: var(--red);
    width: fit-content;
    color: white;
    margin: 0 auto;
    height: inherit;
    padding: 15px 30px;
    cursor: pointer;
    border: 1px solid var(--red);
    transition: .3s;
}

.contact .container form input[type='submit']:hover {
    background-color: transparent;
    color: var(--red);
}

.contact .container form input.mess {
    height: 100px;
}

@media (max-width: 768px) {
    .contact .container form {
        max-width: 100%;
    }
}


/*           end         contact       */

.gallery {
    padding: 100px 0;
    position: relative;
}

.gallery .img-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 4 0px;
}

.gallery .head {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.gallery h2 {
    color: var(--red);
    text-align: center;
    font-weight: bold;
    font-size: 35px;
    margin-bottom: 30px;
}

.gallery .head img {
    margin-bottom: 30px;
    width: 25px;
}

.gallery .img-container .box {
    position: relative;
    overflow: hidden;
}

@media (min-width:767px) {
    .gallery .img-container .box {
        flex-basis: 50%;
    }
}

@media (min-width:992px) {
    .gallery .img-container .box {
        flex-basis: 25%;
    }
}

.gallery .img-container img {
    max-width: 100%;
    transition: .3s;
}

.gallery .img-container .box .caption {
    position: absolute;
    left: 0;
    padding: 5px 10px;
    bottom: -100%;
    transition: .5s;
    background-color: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(5px);
    width: 100%;
}

.gallery .img-container .box:hover .caption {
    bottom: 0;
}

.gallery .img-container .box:hover img {
    transform: rotate(3deg) scale(1.1);
}

.gallery .img-container .box .caption h3 {
    font-weight: 400;
    color: var(--red);
    font-size: 15px;
    margin: 0;
}

.gallery .img-container .box .caption p {
    color: var(--main-color);
    font-size: 15px;
}

@media (min-width:992px) {
    .gallery .img-container .box .caption p {
        font-size: 13px;
    }

    .gallery .img-container .box .caption h3 {
        font-size: 16px;
    }
}

.gallery .container button {
    outline: none;
    border: 1px solid var(--red);
    color: white;
    border-radius: 10px;
    background-color: var(--red);
    padding: 10px 20px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin: 30px 0;
    transition: .3s;
}

.gallery .container button a {
    color: white;
    transition: .3s;
}

.gallery .container button:hover {
    background-color: transparent;
}

.gallery .container button:hover a {
    color: var(--red);
}


.gallery .img-container .box .caption p {
    font-size: 17px;
    letter-spacing: 1px;
    color: #434242;
}

.gallery .img-container .box .caption p span {
    font-size: 23px;
}

.addpas {
    padding: 100px 0 0;
    width: 765px;
    display: flex;
    flex-direction: column;
}

.addpas form {
    display: flex;
    flex-direction: column;
}

.input-img {
    margin-top: 30px;
    display: flex;
    width: 100%;
    align-items: center;
}

.input-img input {
    display: none;
}

.input-img label {
    display: flex;
    justify-content: space-between;
    flex: 3;
    color: var(--black);
    border: 1px solid #c3c3c3;
    border-right: none;
    position: relative;
    border-radius: 5px;
    height: 52px;
    padding-left: 15px;
    align-items: center;
    cursor: pointer;
}

.input-img p {
    margin-right: 10px;
}

.input-img label span {
    padding: 0 10px;
    height: 104%;
    display: flex;
    align-items: center;
    position: relative;
    background-color: var(--red);
    color: white;
    border: 1px solid var(--red);
    border-radius: 0 5px 5px 0;
}

.in {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.in label {
    display: flex;
}

.in label input {
    padding: 5px 10px;
    margin-left: 10px;
    border: 1px solid #c3c3c3;
    border-radius: 5px;
    flex-basis: 50%;
    background: transparent;
    outline: none;
    transition: .3s;
    color: #252525;
}

.in label input:focus {
    border-color: transparent;
    box-shadow: 0 0 2px var(--red);
}

@media (max-width: 768px) {
    .addpas {
        width: 90%;
    }

    .addpas .input-img {
        font-size: 14px;
    }

    .in {
        flex-direction: column;
        gap: 20px;
    }

    .in label:nth-child(2) {
        letter-spacing: .8px;
    }
}

.addpas input[type='submit'] {
    border: 1px solid transparent;
    background: var(--red);
    color: white;
    padding: 10px 30px;
    border-radius: 10px;
    margin-top: 40px;
    cursor: pointer;
    width: fit-content;
}

.addpas .done {
    display: flex;
    justify-content: center;
}

.background.secoun {
    height: 100vh;
}

.background.secoun header .megamenu i {
    display: none;
}


/*             footer             */

footer {
    padding: 100px 0 20px;
    position: relative;
    background-color: #252525;
    color: white;
}

footer::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 239px;
    height: 217px;
    background-image: url(../Photo/flower.png);
    background-size: cover;
}

footer .cont {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer .container .logo {
    flex-basis: 35%;
}


footer .container .footercontact .box {
    display: flex;
    margin: 15px 0;
    align-items: center;
    gap: 15px;
}

footer .container .logo h2 {
    color: var(--red);
    font-weight: bold;
    font-size: 30px;
    margin: 0 0 10px;
}

footer .container i {
    color: var(--red);
    font-size: 20px;
}

footer .container .footercontact p {
    letter-spacing: .4px;
    cursor: pointer;
    transition: .3s;
}

footer .container .footercontact p:hover {
    text-shadow: 0 0 10px var(--red);
}

footer .container .footer-end {
    text-align: center;
    margin: 50px 0 0px;
}

@media (max-width: 768px) {
    footer .cont {
        flex-direction: column;
        text-align: center;
    }

    footer .container .footercontact {
        margin-top: 30px;
    }
}